Schemas/4.0/Pagos20.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:pago20="http://www.sat.gob.mx/Pagos20" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:catCFDI="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" xmlns:catPagos="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Pagos" targetNamespace="http://www.sat.gob.mx/Pagos20" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos" schemaLocation="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/catCFDI.xsd"/>
	<xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" schemaLocation="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI/tdCFDI.xsd"/>
	<xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Pagos" schemaLocation="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/Pagos/catPagos.xsd"/>
	<xs:element name="Pagos">
		<xs:annotation>
			<xs:documentation>Complemento para el Comprobante Fiscal Digital por Internet (CFDI) para registrar información sobre la recepción de pagos. El emisor de este complemento para recepción de pagos debe ser quien las leyes le obligue a expedir comprobantes por los actos o actividades que realicen, por los ingresos que se perciban o por las retenciones de contribuciones que efectúen.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Totales">
					<xs:annotation>
						<xs:documentation>Nodo requerido para especificar el monto total de los pagos y el total de los impuestos, deben ser expresados en MXN.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="TotalRetencionesIVA" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de los impuestos retenidos de IVA que se desprenden de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalRetencionesISR" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de los impuestos retenidos de ISR que se desprenden de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalRetencionesIEPS" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de los impuestos retenidos de IEPS que se desprenden de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalTrasladosBaseIVA16" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de la base de IVA trasladado a la tasa del 16% que se desprende de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalTrasladosImpuestoIVA16" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de los impuestos de IVA trasladado a la tasa del 16% que se desprenden de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalTrasladosBaseIVA8" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de la base de IVA trasladado a la tasa del 8% que se desprende de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalTrasladosImpuestoIVA8" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de los impuestos de IVA trasladado a la tasa del 8% que se desprenden de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalTrasladosBaseIVA0" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de la base de IVA trasladado a la tasa del 0% que se desprende de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalTrasladosImpuestoIVA0" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de los impuestos de IVA trasladado a la tasa del 0% que se desprenden de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TotalTrasladosBaseIVAExento" type="tdCFDI:t_ImporteMXN" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el total de la base de IVA trasladado exento que se desprende de los pagos. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="MontoTotalPagos" type="tdCFDI:t_ImporteMXN" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar el total de los pagos que se desprenden de los nodos Pago. No se permiten valores negativos.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pago" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Elemento requerido para incorporar la información de la recepción de pagos.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DoctoRelacionado" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Nodo requerido para expresar la lista de documentos relacionados con los pagos. Por cada documento que se relacione se debe generar un nodo DoctoRelacionado.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ImpuestosDR" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nodo condicional para registrar los impuestos aplicables conforme al monto del pago recibido, expresados a la moneda del documento relacionado.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RetencionesDR" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Nodo opcional para capturar los impuestos retenidos aplicables conforme al monto del pago recibido.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RetencionDR" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Nodo requerido para registrar la información detallada de una retención de impuesto específico conforme al monto del pago recibido.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="BaseDR" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar la base para el cálculo de la retención conforme al monto del pago, aplicable al documento relacionado, la determinación de la base se realiza de acuerdo con las disposiciones fiscales vigentes. No se permiten valores negativos.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:minInclusive value="0.000001"/>
																					<xs:fractionDigits value="6"/>
																					<xs:whiteSpace value="collapse"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ImpuestoDR" type="catCFDI:c_Impuesto" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar la clave del tipo de impuesto retenido conforme al monto del pago, aplicable al documento relacionado.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="TipoFactorDR" type="catCFDI:c_TipoFactor" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar la clave del tipo de factor que se aplica a la base del impuesto.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="TasaOCuotaDR" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar el valor de la tasa o cuota del impuesto que se retiene.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:minInclusive value="0.000000"/>
																					<xs:fractionDigits value="6"/>
																					<xs:whiteSpace value="collapse"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ImporteDR" type="tdCFDI:t_Importe" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar el importe del impuesto retenido conforme al monto del pago, aplicable al documento relacionado. No se permiten valores negativos.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TrasladosDR" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Nodo opcional para capturar los impuestos trasladados aplicables conforme al monto del pago recibido.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="TrasladoDR" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Nodo requerido para asentar la información detallada de un traslado de impuesto específico conforme al monto del pago recibido.</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:attribute name="BaseDR" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar la base para el cálculo del impuesto trasladado conforme al monto del pago, aplicable al documento relacionado, la determinación de la base se realiza de acuerdo con las disposiciones fiscales vigentes. No se permiten valores negativos.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:minInclusive value="0.000001"/>
																					<xs:fractionDigits value="6"/>
																					<xs:whiteSpace value="collapse"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ImpuestoDR" type="catCFDI:c_Impuesto" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar la clave del tipo de impuesto trasladado conforme al monto del pago, aplicable al documento relacionado.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="TipoFactorDR" type="catCFDI:c_TipoFactor" use="required">
																			<xs:annotation>
																				<xs:documentation>Atributo requerido para señalar la clave del tipo de factor que se aplica a la base del impuesto.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																		<xs:attribute name="TasaOCuotaDR" use="optional">
																			<xs:annotation>
																				<xs:documentation>Atributo condicional para señalar el valor de la tasa o cuota del impuesto que se traslada. Es requerido cuando el atributo TipoFactorDR contenga una clave que corresponda a Tasa o Cuota.</xs:documentation>
																			</xs:annotation>
																			<xs:simpleType>
																				<xs:restriction base="xs:decimal">
																					<xs:minInclusive value="0.000000"/>
																					<xs:fractionDigits value="6"/>
																					<xs:whiteSpace value="collapse"/>
																				</xs:restriction>
																			</xs:simpleType>
																		</xs:attribute>
																		<xs:attribute name="ImporteDR" type="tdCFDI:t_Importe" use="optional">
																			<xs:annotation>
																				<xs:documentation>Atributo condicional para señalar el importe del impuesto trasladado conforme al monto del pago, aplicable al documento relacionado. No se permiten valores negativos. Es requerido cuando el tipo factor sea Tasa o Cuota.</xs:documentation>
																			</xs:annotation>
																		</xs:attribute>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="IdDocumento" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el identificador del documento relacionado con el pago. Este dato puede ser un Folio Fiscal de la Factura Electrónica o bien el número de operación de un documento digital.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="16"/>
												<xs:maxLength value="36"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="([a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12})|([0-9]{3}-[0-9]{2}-[0-9]{9})"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Serie" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para precisar la serie del comprobante para control interno del contribuyente, acepta una cadena de caracteres.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="25"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[^|]{1,25}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="Folio" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo opcional para precisar el folio del comprobante para control interno del contribuyente, acepta una cadena de caracteres.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:minLength value="1"/>
												<xs:maxLength value="40"/>
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[^|]{1,40}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="MonedaDR" type="catCFDI:c_Moneda" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para identificar la clave de la moneda utilizada en los importes del documento relacionado, cuando se usa moneda nacional o el documento relacionado no especifica la moneda se registra MXN. Los importes registrados en los atributos “ImpSaldoAnt”, “ImpPagado” e “ImpSaldoInsoluto” de éste nodo, deben corresponder a esta moneda. Conforme con la especificación ISO 4217.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="EquivalenciaDR" use="optional">
										<xs:annotation>
											<xs:documentation>Atributo condicional para expresar el tipo de cambio conforme con la moneda registrada en el documento relacionado. Es requerido cuando la moneda del documento relacionado es distinta de la moneda de pago. Se debe registrar el número de unidades de la moneda señalada en el documento relacionado que equivalen a una unidad de la moneda del pago. Por ejemplo: El documento relacionado se registra en USD. El pago se realiza por 100 EUR. Este atributo se registra como 1.114700 USD/EUR. El importe pagado equivale a 100 EUR * 1.114700 USD/EUR = 111.47 USD.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:decimal">
												<xs:fractionDigits value="6"/>
												<xs:minInclusive value="0.000001"/>
												<xs:whiteSpace value="collapse"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="NumParcialidad" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el número de parcialidad que corresponde al pago.</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:integer">
												<xs:whiteSpace value="collapse"/>
												<xs:pattern value="[1-9][0-9]{0,2}"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="ImpSaldoAnt" type="tdCFDI:t_Importe" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el monto del saldo insoluto de la parcialidad anterior. En el caso de que sea la primer parcialidad este atributo debe contener el importe total del documento relacionado.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ImpPagado" type="tdCFDI:t_Importe" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar el importe pagado para el documento relacionado.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ImpSaldoInsoluto" type="tdCFDI:t_Importe" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar la diferencia entre el importe del saldo anterior y el monto del pago.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="ObjetoImpDR" type="catCFDI:c_ObjetoImp" use="required">
										<xs:annotation>
											<xs:documentation>Atributo requerido para expresar si el pago del documento relacionado es objeto o no de impuesto.</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="ImpuestosP" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Nodo condicional para registrar el resumen de los impuestos aplicables conforme al monto del pago recibido, expresados a la moneda de pago.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="RetencionesP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nodo condicional para señalar los impuestos retenidos aplicables conforme al monto del pago recibido. Es requerido cuando en los documentos relacionados se registre algún impuesto retenido.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RetencionP" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo requerido para señalar la información detallada de una retención de impuesto específico conforme al monto del pago recibido.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="ImpuestoP" type="catCFDI:c_Impuesto" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para señalar la clave del tipo de impuesto retenido conforme al monto del pago.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ImporteP" type="tdCFDI:t_Importe" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para señalar el importe del impuesto retenido conforme al monto del pago. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TrasladosP" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Nodo condicional para capturar los impuestos trasladados aplicables conforme al monto del pago recibido. Es requerido cuando en los documentos relacionados se registre un impuesto trasladado.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TrasladoP" maxOccurs="unbounded">
														<xs:annotation>
															<xs:documentation>Nodo requerido para señalar la información detallada de un traslado de impuesto específico conforme al monto del pago recibido.</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:attribute name="BaseP" type="tdCFDI:t_Importe" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para señalar la suma de los atributos BaseDR de los documentos relacionados del impuesto trasladado. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="ImpuestoP" type="catCFDI:c_Impuesto" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para señalar la clave del tipo de impuesto trasladado conforme al monto del pago.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="TipoFactorP" type="catCFDI:c_TipoFactor" use="required">
																<xs:annotation>
																	<xs:documentation>Atributo requerido para señalar la clave del tipo de factor que se aplica a la base del impuesto.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
															<xs:attribute name="TasaOCuotaP" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo condicional para señalar el valor de la tasa o cuota del impuesto que se traslada en los documentos relacionados.</xs:documentation>
																</xs:annotation>
																<xs:simpleType>
																	<xs:restriction base="xs:decimal">
																		<xs:fractionDigits value="6"/>
																		<xs:minInclusive value="0.000000"/>
																		<xs:whiteSpace value="collapse"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="ImporteP" type="tdCFDI:t_Importe" use="optional">
																<xs:annotation>
																	<xs:documentation>Atributo condicional para señalar la suma del impuesto trasladado, agrupado por ImpuestoP, TipoFactorP y TasaOCuotaP. No se permiten valores negativos.</xs:documentation>
																</xs:annotation>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="FechaPago" type="tdCFDI:t_FechaH" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar la fecha y hora en la que el beneficiario recibe el pago. Se expresa en la forma aaaa-mm-ddThh:mm:ss, de acuerdo con la especificación ISO 8601.En caso de no contar con la hora se debe registrar 12:00:00.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="FormaDePagoP" type="catCFDI:c_FormaPago" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar la clave de la forma en que se realiza el pago.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="MonedaP" type="catCFDI:c_Moneda" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para identificar la clave de la moneda utilizada para realizar el pago conforme a la especificación ISO 4217. Cuando se usa moneda nacional se registra MXN. El atributo Pagos:Pago:Monto debe ser expresado en la moneda registrada en este atributo.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="TipoCambioP" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el tipo de cambio de la moneda a la fecha en que se realizó el pago. El valor debe reflejar el número de pesos mexicanos que equivalen a una unidad de la divisa señalada en el atributo MonedaP. Es requerido cuando el atributo MonedaP es diferente a MXN.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:decimal">
									<xs:fractionDigits value="6"/>
									<xs:minInclusive value="0.000001"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="Monto" type="tdCFDI:t_Importe" use="required">
							<xs:annotation>
								<xs:documentation>Atributo requerido para expresar el importe del pago.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="NumOperacion" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el número de cheque, número de autorización, número de referencia, clave de rastreo en caso de ser SPEI, línea de captura o algún número de referencia análogo que identifique la operación que ampara el pago efectuado.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="100"/>
									<xs:pattern value="[^|]{1,100}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="RfcEmisorCtaOrd" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar la clave RFC de la entidad emisora de la cuenta origen, es decir, la operadora, el banco, la institución financiera, emisor de monedero electrónico, etc., en caso de ser extranjero colocar XEXX010101000, considerar las reglas de obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="12"/>
									<xs:maxLength value="13"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="XEXX010101000|[A-Z&amp;Ñ]{3}[0-9]{2}(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])[A-Z0-9]{2}[0-9A]"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="NomBancoOrdExt" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar el nombre del banco ordenante, es requerido en caso de ser extranjero. Considerar las reglas de obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="300"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[^|]{1,300}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CtaOrdenante" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para incorporar el número de la cuenta con la que se realizó el pago. Considerar las reglas de obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="10"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[A-Z0-9_]{10,50}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="RfcEmisorCtaBen" type="tdCFDI:t_RFC_PM" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar la clave RFC de la entidad operadora de la cuenta destino, es decir, la operadora, el banco, la institución financiera, emisor de monedero electrónico, etc. Considerar las reglas de obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CtaBeneficiario" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para incorporar el número de cuenta en donde se recibió el pago. Considerar las reglas de obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="10"/>
									<xs:maxLength value="50"/>
									<xs:whiteSpace value="collapse"/>
									<xs:pattern value="[A-Z0-9_]{10,50}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="TipoCadPago" type="catPagos:c_TipoCadenaPago" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para identificar la clave del tipo de cadena de pago que genera la entidad receptora del pago. Considerar las reglas de obligatoriedad publicadas en la página del SAT para éste atributo de acuerdo con el catálogo catCFDI:c_FormaPago.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="CertPago" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional que sirve para incorporar el certificado que ampara al pago, como una cadena de texto en formato base 64. Es requerido en caso de que el atributo TipoCadPago contenga información.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:base64Binary">
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="CadPago" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para expresar la cadena original del comprobante de pago generado por la entidad emisora de la cuenta beneficiaria. Es requerido en caso de que el atributo TipoCadPago contenga información.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="8192"/>
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="SelloPago" use="optional">
							<xs:annotation>
								<xs:documentation>Atributo condicional para integrar el sello digital que se asocie al pago. La entidad que emite el comprobante de pago, ingresa una cadena original y el sello digital en una sección de dicho comprobante, este sello digital es el que se debe registrar en este atributo. Debe ser expresado como una cadena de texto en formato base 64. Es requerido en caso de que el atributo TipoCadPago contenga información.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:base64Binary">
									<xs:whiteSpace value="collapse"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="Version" use="required" fixed="2.0">
				<xs:annotation>
					<xs:documentation>Atributo requerido que indica la versión del complemento para recepción de pagos.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
